:root {
  --blue-color: #0d6efd;
  --cart-color: #a6c5df;
  --sec-color: #f9f9f9;
  --main-transition: 0.3s ease-in-out;
  scroll-behavior: smooth;
}

section[id="login"] {
    background: var(--sec-color);
}
section[id="login"] p,
h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}
section[id="login"] .structure {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  pointer-events: none;
  user-select: none;
}

section[id="login"] {
  padding-top: 80px !important;
  min-height: 740px;
}

section[id="login"] .login-img {
  width: 100%;
  max-height: 650px;
}

section[id="login"] #FormColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

section[id="login"] #FormColumn .MuiPaper-elevation{
    background: none;
}

section[id="login"] .login-card {
  box-shadow: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
section[id="login"] .layout {
  display: flex;
  justify-content: center;
}
section[id="login"] .login-brand {
  font-family: "Rubik Moonrocks", sans-serif !important;
  font-weight: 400 !important;
  font-size: 50px !important;
  color: var(--blue-color);
  text-align: left;
}

section[id="login"] .login-methods {
  width: 100%;
  padding: 0;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

section[id="login"] .login-methods > button {
  width: 50%;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  background: var(--blue-color);
  color: #fff;
}

section[id="login"] .login-methods button span svg,
section[id="login"] .login-methods button span img {
  width: 25px !important;
  height: 25px !important;
}

section[id="login"] #horizontal_login {
  display: flex;
  justify-content: center;
  align-items: center;
}
section[id="login"] #horizontal_login .loginButton {
  margin-right: 0;
}

section[id="login"] .frame {
  padding: 10px;
}

section[id="login"] .login-card .create-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section[id="login"] .login-card .create-account p,
section[id="login"] .login-line p {
  font-size: 14px;
}

.login-forget {
  font-size: 14px;
  transition: var(--main-transition);
  margin-left: 15px;
}
.login-forget:hover {
  color: #a6c5df !important;
}
section[id="login"] #horizontal_login .Stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
section[id="login"] #horizontal_login .remember {
  justify-content: flex-start;
}

section[id="login"] #horizontal_login .remember,
section[id="login"] #horizontal_login .Forget {
  display: flex;
  width: 50%;
  margin-right: 0;
}
section[id="login"] #horizontal_login .Forget {
  justify-content: flex-end;
}

section[id="login"] #horizontal_login .email,
section[id="login"] #horizontal_login .password {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 0;
}

:where(.css-dev-only-do-not-override-m4timi).ant-input-affix-wrapper {
  padding: 8px 11px !important;
}
