
@media (max-width: 1198px) {
  /* section[id="services"] .structure .row .col ,
    section[id="about"] .structure .row .col {
        font-size: 2rem;
    } */
}

@media (max-width: 993px) {
  /* Navbar */
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-nav li:not(:last-of-type) {
    margin-right: 0;
  }
  .left {
    width: auto;
  }
  .navbar-nav .nav-item {
    margin-bottom: 5px;
  }
    /* Navbar */

  .structure {
    padding: 0 !important;
  }

  section[id="services"] {
    padding-top: 0 !important;
  }
  section[id="services"] .structure .row .col:has(h3) h3 {
    text-align: center;
    font-size: 35px;
  }
  /* Login Section */

  section[id="login"] .FormColumn {
    height: 650px ;
  }
  section[id="login"] #ImageColumn {
    display: none;
  }
  section[id="login"] .login-brand {
    text-align: center !important;
  }

}

@media (max-width: 767px) {
  /* Cart MobileIn */
  .paper .name .head {
    font-size: 14px;
  }
  .paper .name .ref {
    font-size: 10px;
  }
  .paper .unit-price {
    font-size: 14px;
  }
  .paper .total {
    font-size: 14px;
  }
  .header .col {
    font-size: 13px;
    padding: 1px;
  }
    /* Cart MobileIn */

      /* HomeBanner  */

  .first h3 {
    font-size: 90px;
  }
  .first p {
    font-size: 15px;
  }

        /* HomeBanner  */

  .box-parent {
    display: none;
  }
  section[id="login"] .MobileLogin{
    width: 100%;
}
.invoice-template {
  padding: 0 !important;
}
.invoice-details {
  flex-direction: column;
}

.invoice-footer p{
text-align: center;
}

section[id="login"] #horizontal_login .email,
  section[id="login"] #horizontal_login .password {
    margin-bottom: 1.2rem !important;
  }
  section[class="Account"] .UserProfileCard {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .first h3 {
    font-size: 70px ;
  }
  .first p {
    font-size: 15px;
  }
  .toast {
    width: 250px !important;
  }
  section[id="services"] .Card .card-img div svg {
    width: 25px;
  }
  section[id="services"] .Card .card-img div {
    width: 55px;
    height: 55px;
  }
  section[id="services"] .structure .row .col:has(h3) h3 {
    text-align: left;
  }
  .CartMobileOut {
    margin-bottom: 15px;
  }
  /* login section */
  section[id="login"] #horizontal_login {
    flex-direction: column;
  }
  section[class="Account"] .UserProfileCard{
    padding: 0;
  }
 
  
  section[class="Account"] .UserEmail p {
    font-size: 14px;
  }

}

@media (max-width: 367px) {

  .first h4 {
    font-size: 60px;
  }
  .header .col {
    font-size: 13px;
    padding: 0;
  }
  .header .col div {
    white-space: nowrap;
  }
  .increase svg,
  .decrease svg {
    font-size: 13px;
  }
  .line > span {
    font-size: 13px;
  }
  .paper .remove svg {
    font-size: 20px;
  }
  /*login section*/

  section[id="login"] h1 {
    font-size: 20px;
  }


}


/* min-width */
@media (min-width: 993px) {
  .CartMobileIn {
    width: 750px !important;
  }
}


@media (min-width: 576px) {
  :where(.css-dev-only-do-not-override-m4timi).ant-col-sm-8 {
    
    flex: 0 0 25%;
    max-width: 25%;
  }
}